---
import SequenceGenerator from "../components/SequenceGenerator";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Secuencias y Patrones Lógicos</title>
  </head>
  <body>
    <main>
      <SequenceGenerator client:load />
    </main>
  </body>
</html>
